@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
}
body {
  counter-reset: section;
  font-family: 'Public Sans', sans-serif;
}

.bfbr  {
  display: none!important;
}

.button_class  {
  pointer-events: none;

}
.button_class span {
  opacity: 0;
}
.button_class .hidden {
  display: block;
}
.bg-top {
  background: url('../imgs/banner-cca.jpg') top center no-repeat;
  background-size: cover;
}

.programa-cca-container {
  background: url('../imgs/bg-programa-cca.jpg') top center no-repeat;
  background-size: cover;
}

.parceria {
  background: url('../imgs/bg-sobre-nos.jpg') top center no-repeat;
  background-size: cover;
}

.bg-ancord {
  background: url('../imgs/bg-ancord.jpg') top center no-repeat;
  background-size: cover;
}

.bg-bt {
  background: url('../imgs/bg-bt.jpg') top center no-repeat;
  background-size: cover;
}
.bg-banca {
  background: url('../imgs/bg-banca.jpg') top center no-repeat;
  background-size: cover;
}

.bg-check {
  background: url('../imgs/bg-check.jpg') top center no-repeat;
  background-size: cover;
}

.accordion  label:before {
  content: url('../imgs/camera.svg');
  position: absolute;
  top: 50%;
  margin-top: -12px;
  left: 0;
}

.faq .accordion  label:before {
  counter-increment: section;
  content: counter(section) ".";
}

.accordion  label:after {
  content: url('../imgs/chevron-down.svg');
  position: absolute;
  top: 50%;
  margin-top: -12px;
  right: 0;
}

.accordion input:checked + label:after {
  content: url('../imgs/chevron-up.svg');
  line-height: .8em;
}

.accordion input:not(:checked)  ~ .accordion__content {
  border: 0;
}

.accordion input:checked ~ .accordion__content {
  border-bottom: 0;
}

.accordion  .accordion__content{
  max-height: 0em;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}
.accordion  input[name='panel']:checked ~ .accordion__content {
  /* Get this as close to what height you expect */
  max-height: 237em;
}


div .carousel__prev {
  background: url('../imgs/left-arrow.svg');
  
  left: -16px;
  width: 64px;
  height: 64px;
}

div .carousel__next {
  background: url('../imgs/right-arrow.svg');
  right: -16px;
  width: 64px;
  height: 64px;
}

.line-mobile {
  background: url('../imgs/line-mobile.svg') repeat-y;
  height: 1300px;
  width: 20px;
  margin-top: 20px;
}


div .carousel__prev svg, div .carousel__next svg {
  display:none;
}

.comece-cta:hover .rect-comece {
  fill:#575757;
}

.entrar-button-plataforma:hover {
background: #063146;
}

.link-blue-rect:hover .blue-rect {
  fill: #0A6F94;
}

.brmobile {
  display: none;
}

.text-red {
  color: red;
}

@media (max-width: 1615px) {
  body .xl\:container {
    padding: 0 20px;
    max-width: none;
  }

 
}

@media (max-width: 1536px) {

  div .carousel__prev {
 
    left: 21px;
    position: absolute;
    top: -48px;
  }
  
  div .carousel__next {
   
    right: 21px;
    position: absolute;
    top: -48px;

  }
 
}

@media (max-width: 1280px) {
  .hidebrsmd br {
     display: none;
   }

 }

@media (max-width: 1280px) {
  .number-mobile {
    margin-left: 20px;
  }
  .bottom-timeline{
    padding-top: 17px;
  }
  .last-timeline {
    padding-top: 6px;
  }
  .bottom-timeline .number-mobile {
    margin-left: 22px;
}
 .number-mobile:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -moz-border-radius: 7.5px;
  position: absolute;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #69b6d5;
  margin-top: 8px;
  margin-left: -42px;
 }

 .number-first-mobile:after {
  content: '';
  position: absolute;
  background: #011e26;
  left: 13px;
  height: 46px;
  z-index: 999;
  width: 13px;
  margin-top: -39px;
}

 .timeline-mobile.last-timeline  {
  height: 60px;
}

 .timeline-mobile {
  border-left: 1px dotted #69b6d5;
 }
}
@media (max-width: 768px) {
  .bf .faixa-bf .hidden {
display: none;
  }

  .bfbr  {
    display: inline-block!important;
  }


 body .carousel__pagination-button::after {
    border-radius: 21px!important;

    width: 7px;
    height: 7px;


    background-color: #d4dbe9;

}

.carousel__pagination-button--active.carousel__pagination-button::after {
  background: #798ab8;
}

body .carousel__pagination-button::after {
  border-radius: 21px!important;
  width: 7px;
  height: 7px;
  background-color: #d4dbe9;
}

div .carousel__prev {
  background: url('../imgs/arrow-l-mobile.svg');
  

  width: 24px;
  height: 24px;

  top: 238px;
}


.mentor-mobile-image {
  max-width: 84vw;
  margin-left: 15px;
}

.mentores .xl\:container{
  padding: 0;
}

div .carousel__next {
  background: url('../imgs/arrow-r-mobile.svg');
 
  width: 24px;
  height: 24px;
  right: -30px;
 top: 238px;
}

.carousel {
  margin: 40px 0 0 8px;
}

  body div br.brmobile {
    display: block;
  }
  div .carousel__prev {
 
    left: -12px;
  
  }
  
  div .carousel__next {
   
    right: -7px;


  }

  .bg-ancord, .bg-bt {
    background: none;
  }
 .hidebrs br {
    display: none;
  }
  body .xl\:container.px-0 {
    padding: 0;
  }
  div .mobile-mentor {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
  }
  body .iframe-video {
    display: block;

  }
}
.hideMoldura { 
display: none!important;
}
.iframe-video, .hideMoldura {
  display: none;
  max-width: 100%;
}

.showVideo {
  display: block;
}

.gif-video {
  cursor: pointer;
}

.mobileextra br {
  display: none;
}

@media only screen and (max-width: 405px)  {
  .mobileextra br {
      display: block;
  }
}


.faixa-bf *, .faixa-bf .sm\:inline {
  display: none;
}

.faixa-bf {
  border-bottom: 0;
}

.bf .faixa-bf *, .bf .button-bf {
  display: inline-flex
}

.bf .faixa-bf {
  border-bottom: 2px solid rgb(0 167 208 / 1);
}

.bf .main-button-bf {
  background: #05D361;
}

.bf .preco-desconto {
  display: none;
}